.w-CC {
  background-color: hsla(0, 100%, 50%, 1);
}

.w-CD {
  background-color: hsla(10, 100%, 50%, 1);
}

.w-DT {
  background-color: hsla(20, 100%, 50%, 1);
}

.w-EX {
  background-color: hsla(30, 100%, 50%, 1);
}

.w-FW {
  background-color: hsla(40, 100%, 50%, 1);
}

.w-IN {
  background-color: hsla(50, 100%, 50%, 1);
}

.w-JJ {
  background-color: hsla(60, 100%, 50%, 1);
}

.w-JJR {
  background-color: hsla(70, 100%, 50%, 1);
}

.w-JJS {
  background-color: hsla(80, 100%, 50%, 1);
}

.w-LS {
  background-color: hsla(90, 100%, 50%, 1);
}

.w-MD {
  background-color: hsla(100, 100%, 50%, 1);
}

.w-NN {
  background-color: hsla(110, 100%, 50%, 1);
}

.w-NNP {
  background-color: hsla(120, 100%, 50%, 1);
}

.w-NNPS {
  background-color: hsla(130, 100%, 50%, 1);
}

.w-NNS {
  background-color: hsla(140, 100%, 50%, 1);
}

.w-POS {
  background-color: hsla(150, 100%, 50%, 1);
}

.w-PDT {
  background-color: hsla(160, 100%, 50%, 1);
}

.w-PP$ {
  background-color: hsla(170, 100%, 50%, 1);
}

.w-PRP {
  background-color: hsla(180, 100%, 50%, 1);
}

.w-RB {
  background-color: hsla(190, 100%, 50%, 1);
}

.w-RBR {
  background-color: hsla(200, 100%, 50%, 1);
}

.w-RBS {
  background-color: hsla(210, 100%, 50%, 1);
}

.w-RP {
  background-color: hsla(220, 100%, 60%, 1);
}

.w-TO {
  background-color: hsla(230, 100%, 65%, 1);
}

.w-UH {
  background-color: hsla(240, 100%, 70%, 1);
}

.w-VB {
  background-color: hsla(250, 100%, 65%, 1);
}

.w-VBD {
  background-color: hsla(260, 100%, 60%, 1);
}

.w-VBG {
  background-color: hsla(270, 100%, 50%, 1);
}

.w-VBN {
  background-color: hsla(280, 100%, 50%, 1);
}

.w-VBP {
  background-color: hsla(290, 100%, 50%, 1);
}

.w-VBZ {
  background-color: hsla(300, 100%, 50%, 1);
}

.w-WDT {
  background-color: hsla(310, 100%, 50%, 1);
}

.w-WP {
  background-color: hsla(320, 100%, 50%, 1);
}

.w-WP1 {
  background-color: hsla(330, 100%, 50%, 1);
}

.w-WRB {
  background-color: hsla(340, 100%, 50%, 1);
}
